<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h3>List of all registered users</h3>
    <ul class="list-group">
{{#each obj}}
    <li class="list-group-item">user email: {{this.email}}, password:{{this.password}}       <a href="/delete/{{this.email}}"><button type="button" class="btn btn-outline-danger">DELETE</button></a> </li>
{{/each}}
    </ul>
</div>
</body>
</html>
