doctype html
html
    head
        style
            include srtyle.css
    body
        div
            block content
        div.footer
            p
            |BEST REGARTS,
            br
            |Car SHOP TEAM
            br
            a(href=frontUrl) Our web site!
